.archivo__container{
    width: 90%;
    @extend %flex-column-center;
    margin: 0 auto;
    margin-top: 10px;
}
.archivo__programa{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.archivo__titulo{
    background-color:rgb(109, 21, 10);
    display: flex;
    text-align: left;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 2ch;
    padding: 5px;
    padding-left: 10px;

}
.mas_videos{
    background-color: rgb(10, 10, 10);
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
.mas_videos-btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2ch;
    text-align: right;

    &:hover{
        color:rgb(175, 175, 175);
        transition: 1s ease-in;
        background-color: rgb(10, 10, 10);
    }
    &:visited{
        color: white;
    }
}