.invitados_container{
    @extend %flex-column-center;
    margin:0 auto;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.carousel-item{
    p{
        background-color: rgba(0, 0, 0, 0.335);
    }
}
.invitados_container_mobile{
    display:none;
}
@media (max-width: 768px){
    .invitados_container{
        display:none;
    }
    .invitados_container_mobile{
        display:flex;
        flex-direction: column;
        row-gap: 15px;
        justify-content: center;
        margin:0 auto;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .invitados_mobile_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(10, 10, 10);
        p{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2ch;
            font-weight: lighter;
            color: white;
            margin-left: 15px;
            margin-top: 13px;

        }
    }
}