footer{
    background-image: map-get($footer, bg-footer);
    height: 65px;
    width: 100%;
    margin-top: auto;
    font-size: 20px;
    @extend %flex-row-center;
    align-content: center;
    ul{
        @extend %flex-row-center;
        align-items: center;
        margin-top: 2vh;
        li{
            list-style-type:none;
            display:flex;
            flex-direction: column;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.footer__container{
    height: 60px;
    width: 100%;
    @extend %flex-row-center;
    align-items: center;
}