.navbar{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.08rem;
    background-color: map-get($header, bg-header);
    img{
        @include navbar_img(50px, 10px, 10px);
    }
}
.navbar-brand{
    font-weight:400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    text-align: center;
}
.nav-item{
    font-weight: 400;
}
.navbar-nav{
    height: fit-content;
    background-color: map-get($header, bg-header);
    text-align: right;
}
.navbar-modificada{
    a.nav-link, a.navbar-brand{
        font-weight: bold;
        color: rgb(29, 29, 29);
        &:hover{
            color: rgb(255, 255, 255);
            transition: 0.3s ease-in;
        }
        a.nav-link:hover{
            color: rgb(255, 255, 255);
            transition: 0.3s ease-in;
        }
        a.navbar-brand:hover{
            color: rgb(255, 255, 255);
            transition: 0.3s ease-in;
        }
    }
}